body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spoiler {
    background-color: black;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
}
.spoiler:hover {
    background-color: transparent;
    color: initial;
}